@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}
header img {
  width: 100px;
  height: 120px;
  margin-left: 100px;
}
header .activo {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/imagenes-principales/fondoMain.png) repeat-x;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
header .navbar {
  top: 20px;
  /* separación desde el borde superior */
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  /* o 80%, o un valor en px si querés */
  max-width: 1200px;
  z-index: 10;
  padding: 1rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 2rem;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
header .navbar .nav-item .nav-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1rem;
  font-family: "Pixelify Sans", sans-serif !important;
}
header .navbar .nav-item .nav-link:hover {
  color: #00ffff;
}

@keyframes mover-fondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
main .seccion-principal {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(1, 0.5fr);
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/imagenes-principales/fondoMain.png) repeat-x;
  padding-top: 200px;
}
main .seccion-principal .column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
main .seccion-principal .column1 .boton {
  background-color: #00ffff;
  text-align: center;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
}
main .seccion-principal .column1 .boton a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 1.5rem;
  font-family: "Pixelify Sans", sans-serif !important;
}
main .seccion-principal .column1 h1 {
  font-size: 4.5rem;
  text-align: start;
  margin-left: 100px;
  color: white;
  font-family: "Pixelify Sans", sans-serif !important;
}
main .seccion-principal .column1 p {
  font-size: 1.5rem;
  margin-left: 100px;
  color: #e0e0e0;
  font-size: "Press Start 2P", sans-serif;
}
main .seccion-principal .column2 {
  grid-column: 2/4;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
main .seccion-principal .column2 .pj {
  position: relative;
  /* o absolute si querés ubicarlo con más control */
  z-index: 2;
  /* está por encima */
  width: 400px;
}
main .seccion-principal .column2 .fuego {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  /* está por debajo */
  width: 700px;
}
main .section-destacados {
  text-align: center;
  background: url(../../assets/imagenes-principales/fondoInfinito.jpg) repeat-x;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
  animation: mover-fondo 20s linear infinite;
}
main .section-destacados h2 {
  grid-column: 1/3;
  font-size: 3rem;
  color: #0f0f0f;
  font-family: "Pixelify Sans", sans-serif !important;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: bold;
}
main .section-destacados .destacados {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .section-destacados .destacados .des {
  width: 90%;
  padding: 200px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  background: linear-gradient(#ff00ff, #00ffff);
}
main .section-destacados .destacados .destacado1 {
  grid-row: 1/1;
  grid-column: 1/2;
  display: flex;
}
main .section-destacados .destacados .destacado1 img {
  transform: translate(12%, -55%);
  width: 300px;
  height: 400px;
  position: absolute;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-right: 200px;
}
main .section-destacados .destacados .destacado2 {
  grid-row: 2/2;
  grid-column: 2/3;
}
main .section-destacados .destacados .destacado2 img {
  transform: translate(-88%, -55%);
  width: 300px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
main .section-destacados .destacados .destacado3 {
  grid-row: 3/3;
  grid-column: 1/2;
}
main .section-destacados .destacados .destacado3 img {
  width: 300px;
  height: 400px;
  transform: translate(-12%, -55%);
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
}
main .section-destacados .destacados .detalle-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-destacados .destacados .detalle-juego h3 {
  font-size: 2rem;
  color: #0f0f0f;
  font-family: "Pixelify Sans", sans-serif !important;
  margin-top: 20px;
}
main .section-destacados .destacados .detalle-juego .estrellas {
  font-size: 2rem;
  color: #ffc107; /* amarillo tipo estrella dorada */
  display: flex;
}
main .section-destacados .destacados .detalle-juego .estrella {
  position: relative;
}
main .section-destacados .destacados .detalle-juego .estrella.media::after {
  content: "★"; /* misma estrella */
  color: #ffc107; /* gris, la parte vacía */
  position: absolute;
  width: 50%;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
