$PrimaryColor : #0f0f0f;
$SecondaryColor : #ff00ff;
$TertiaryColor : #00ffff;
$QuaternaryColor : #ffff00;
$TextColorOne: #ffff;
$textColorTwo: #e0e0e0;
$tipografiaTittles: "Press Start 2P", sans-serif;
$tipoGrafiaText: "Pixelify Sans", sans-serif;
